POSTGRES_DB=biblioteca
POSTGRES_USER=biblioteca_user
POSTGRES_PASSWORD=troque_esta_senha

JWT_SECRET=troque_por_um_texto_longo_e_aleatorio

MAX_EMPRESTIMOS=3
GATEWAY_PORT=8080
GRAFANA_PASSWORD=admin

# $env:POSTGRES_DB="biblioteca"
# $env:POSTGRES_USER="biblioteca_user"
# $env:POSTGRES_PASSWORD="12345678"
# $env:JWT_SECRET="SDDFR3$2#WUJDSFKSDF$#1K1281928ADSJDA!@DSD!AS"